header{
    border: solid 1px;
    background-image: url(../imgs/pptheani.jpg);
    background-color: #7fffd4;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
    height: 500px;
}

html{
    font-family: open Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: open Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 34px;
    font-weight: bolder;
}

header a{
    box-sizing: border-box;
    font-size: 18px;
    display: inline-block;
    margin-left: 7%;
    margin-right: 7%;
    text-decoration: none;
    color: rgb(32, 182, 182);
    margin-top: 75px;
    border: solid 1px;
    border-radius: 30%;
    border-color: rgb(221, 221, 53);
    
}